<div clas="row">
  <div class="col-sm-12">
    <carousel class="text-center">
      <slide  *ngFor="let imgObj of homeImageList">
        <a routerLink="/videos/{{imgObj.slug}}" routerLinkActive="active">
          <img class="img-main-carousel" [src]="imgObj.image" alt="First slide">
        </a>
        <div class="carousel-caption">
          <h3>{{ imgObj.name }}</h3>
          <p>{{imgObj.content}}</p>
          <a routerLink="/videos/{{imgObj.slug}}" routerLinkActive="active" class="btn btn-default">view {{imgObj.name}}</a>
        </div>
      </slide>
    </carousel>
  </div>
</div>

