<div clas="row">
  <div class="col-sm-12">
    <carousel class="text-center">
      <slide>
        <a href="/videos/video1">
          <img class="img-main-carousel" src="assets/images/nature/4.jpg" alt="First slide">
        </a>
        <div class="carousel-caption">
          <h3>First slide label</h3>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          <a href="/videos/video1" class="btn btn-default">video1</a>
        </div>
      </slide>
      <slide>
        <a href="/videos/video2">
          <img class="img-main-carousel" src="assets/images/nature/5.jpg" alt="Second slide">
        </a>
        <div class="carousel-caption">
          <h3>Second slide label</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <a href="/videos/video2" class="btn btn-default">video2</a>
        </div>
      </slide>
      <slide>
        <a href="/videos/video3">
          <img class="img-main-carousel" src="assets/images/nature/6.jpg" alt="Third slide">
        </a>
        <div class="carousel-caption">
          <h3>Third slide label</h3>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          <a href="/videos/video3" class="btn btn-default">video3</a>

        </div>
      </slide>
    </carousel>
  </div>
</div>

